body {
	background-color:#000;
	color:#CCC;
}
div#wrapper {
	width:760px;
	padding-top:10px;
	margin:0 auto;
}
div#video {
	width: 760px;
	height: 428px;
}
div#video_control_container {
	padding:10px 0 13px 3px;
}
input[type="button"].btn.video_control {
	width:38px;
	height:1.8em;
	padding:0;
	opacity: 0.4;
	color: #111;
}
span#video_title {
	display:inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	width:555px;
	padding-left:5px;
	line-height: 2em;
	font-weight:bold;
	font-size:1.2em;
}
span#mode {
	cursor:pointer;
	opacity: 0.7;
	width: 100px;
	display:inline-block;
	text-align: center;
}
div#play_list_container {
	width: 100%;
	height:350px;
	overflow: auto;
}
table#play_list {
	width: 100%;
}
tr.play_list_row {
	cursor:pointer;
}
tr.play_list_row.selected {
	background-color: #333;
}
tr.play_list_row.disable {
	opacity: 0.3;
}
tr.play_list_row td {
	border-top: 1px solid #333;
}
tr.play_list_row td.user_image {
}
tr.play_list_row td.message {
}
tr.play_list_row.feed td.user_image {
}
tr.play_list_row.feed td.message {
}
tr.play_list_row.comment td.user_image {
	text-align: right;
}
tr.play_list_row.comment td.message {
	padding-left: 20px;
}
tr.play_list_row.feed td img {
	width: 40px;
	height: 40px;
}
tr.play_list_row.comment td img {
	width: 28px;
	height: 28px;
}
div#go_suteki {
	width: 100%;
	padding: 10px 0;
	text-align: center;
}
div#go_suteki a {
	color: #CCC;
	font-weight: bold;
}